.link-item {
  text-decoration: none;
}
.job-item {
  display: flex;
  flex-direction: column;
  background-color: #202020;
  padding: 25px;
  border-radius: 15px;
  margin-bottom: 25px;
  margin-top: 10px;
}
.logo-location-container {
  display: flex;
  flex-direction: column;
}
.logo-container {
  display: flex;
  align-items: center;
}
.company-log {
  width: 70px;
  height: 70px;
  margin-right: 20px;
}
.title-rating-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.title-heading {
  color: #ffffff;
  font-size: 20px;
  font-weight: bold;
  font-family: 'Roboto';
  margin-bottom: 0px;
}
.rating-contaier {
  display: flex;
  align-items: center;
  padding-top: 0px;
}
.rating-icon {
  color: #fbbf24;
  font-size: 18px;
  margin-right: 10px;
}
.rating {
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
  font-family: 'Roboto';
}
.location-package-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.location-empl-container {
  display: flex;
  flex-direction: row;
}
.location-container {
  display: flex;
  align-items: center;
  margin-right: 10px;
  padding-left: 5px;
}
.location-icon {
  color: #ffffff;
  font-size: 22px;
  margin-right: 6px;
}
.location-heading {
  color: #ffffff;
  font-size: 14px;
  font-family: 'Roboto';
}
.emply-type-container {
  display: flex;
  align-items: center;
  padding-left: 5px;
}
.emply-type-heading {
  color: #ffffff;
  font-size: 14px;
  font-family: 'Roboto';
}
.brief-case-icon {
  color: #ffffff;
  font-size: 22px;
  margin-right: 10px;
}
.package-heading {
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
  font-family: 'Roboto';
}
.line {
  color: #7e858e;
  width: 100%;
}
.description-heading {
  color: #ffffff;
  font-size: 20px;
  font-family: 'Roboto';
  margin-bottom: 0px;
}
.job-description {
  color: #ffffff;
  font-size: 16px;
  font-family: 'Roboto';
  margin-bottom: 0px;
}
